.count_wrap {
  display: flex;
  align-items: center;
  gap: 10px;
  input[type="radio"] {
    display: none;
    & + label {
      display: block;
      width: 21px;
      height: 21px;
      line-height: 16px;
      text-align: center;
      border: 1px solid;
      cursor: pointer;
    }
    &:checked + label {
      background-color: #3b86e8;
    }
  }
  input[type="text"] {
    text-align: right;
  }
}
